[Unit]
Description=RPC Impl for Vesktop

[Service]
ExecStart=%h/.local/share/mise/shims/arrus
Restart=on-failure
Environment="ARRUS_DB_UPDATE_INTERVAL=14400"

[Install]
WantedBy=default.target
