.DS_Store
__pycache__/
.zsh_custom/
config/zsh/*werk.zsh
config/jj/repos/
config/jj/conf.d/werk.toml
config/jj/conf.d/linux.toml
packer_compiled.lua
config/helix/runtime/grammars/
config/lyra/logs/
config/lyra/cache/
config/kitty/layouts/**
home/claude/**
agents/AGENTS.work.md
bun.lock
node_modules
config/zellij/layouts/werk-*
.pi/
config/mise/tasks.d/home-linux/gtk-icons/rose-pine/
config/mise/tasks.d/home-linux/fonts/dist/
