.DS_Store
.zsh_custom/
config/zsh/*werk.zsh
config/jj/repos/
config/jj/conf.d/werk.toml
packer_compiled.lua
config/helix/runtime/grammars/
config/lyra/logs/
config/lyra/cache/
home/claude/**
!home/claude/statusline.sh
!home/claude/hooks/
!home/claude/hooks/**
!home/claude/skills/
!home/claude/skills/**
bun.lock
node_modules
