keybinds clear-defaults=true {
    normal {
        bind "Super 1" { GoToTab 1; }
        bind "Super 2" { GoToTab 2; }
        bind "Super 3" { GoToTab 3; }
        bind "Super 4" { GoToTab 4; }
        bind "Super 5" { GoToTab 5; }
        bind "Super 6" { GoToTab 6; }
        bind "Super 7" { GoToTab 7; }
        bind "Super 8" { GoToTab 8; }
        bind "Super 9" { GoToTab 9; }
        bind "Ctrl 1" { GoToTab 1; }
        bind "Ctrl 2" { GoToTab 2; }
        bind "Ctrl 3" { GoToTab 3; }
        bind "Ctrl 4" { GoToTab 4; }
        bind "Ctrl 5" { GoToTab 5; }
        bind "Ctrl 6" { GoToTab 6; }
        bind "Ctrl 7" { GoToTab 7; }
        bind "Ctrl 8" { GoToTab 8; }
        bind "Ctrl 9" { GoToTab 9; }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Shift Super x" { Quit; }
    }
    shared_among "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Shift Super x" { Quit; }
        bind "Shift Super g" { SwitchToMode "locked"; }
        bind "Shift Super p" { SwitchToMode "pane"; }
        bind "Shift Super t" { SwitchToMode "tab"; }
        bind "Shift Super r" { SwitchToMode "resize"; }
        bind "Shift Super m" { SwitchToMode "move"; }
        bind "Shift Super h" { SwitchToMode "scroll"; }
        bind "Shift Super s" { SwitchToMode "search"; }
        bind "Shift Super o" { SwitchToMode "session"; }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Shift Super g" { SwitchToMode "locked"; }
    }
    locked {
        bind "Shift Super g" { SwitchToMode "normal"; }
    }
    shared_except "locked" "pane" "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Shift Super p" { SwitchToMode "pane"; }
    }
    pane {
        bind "Shift Super p" { SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "h" { NewPane "down"; SwitchToMode "normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "p" { TogglePanePinned; SwitchToMode "normal"; }
        bind "v" { NewPane "right"; SwitchToMode "normal"; }
        bind "Shift f" { ToggleFloatingPanes; SwitchToMode "normal"; }
        bind "left" { MovePane "left"; }
        bind "down" { MovePane "down"; }
        bind "up" { MovePane "up"; }
        bind "right" { MovePane "right"; }
    }
    shared_except "locked" "tab" "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Shift Super t" { SwitchToMode "tab"; }
    }
    tab {
        bind "Shift Super t" { SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "t" { NewTab; SwitchToMode "normal"; }
        bind "x" { CloseTab; SwitchToMode "normal"; }
        bind "left" { GoToPreviousTab; }
        bind "down" { GoToNextTab; }
        bind "up" { GoToPreviousTab; }
        bind "right" { GoToNextTab; }
        bind "Shift left" { MoveTab "Left"; }
        bind "Shift right" { MoveTab "Right"; }
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "[" { BreakPaneLeft; SwitchToMode "normal"; }
        bind "]" { BreakPaneRight; SwitchToMode "normal"; }
        bind "b" { BreakPane; SwitchToMode "normal"; }
        bind "tab" { ToggleTab; }
    }
    shared_except "locked" "resize" "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Shift Super r" { SwitchToMode "resize"; }
    }
    resize {
        bind "Shift Super r" { SwitchToMode "normal"; }
        bind "left" { Resize "Increase left"; }
        bind "down" { Resize "Increase down"; }
        bind "up" { Resize "Increase up"; }
        bind "right" { Resize "Increase right"; }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" "move" "prompt" "tmux" {
        bind "Shift Super m" { SwitchToMode "move"; }
    }
    move {
        // Need to bind this, otherwise compact mode fails
        bind "Shift Super m" { SwitchToMode "normal"; }
    }
    shared_except "locked" "scroll" "entersearch" "renametab" "renamepane" "prompt" "tmux" {
        bind "Shift Super h" { SwitchToMode "scroll"; }
    }
    scroll {
        bind "Shift Super h" { SwitchToMode "normal"; }
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
    }
    search {
        bind "Shift Super s" { SwitchToMode "normal"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "p" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }
    shared_except "locked" "entersearch" "renametab" "renamepane" "session" "prompt" "tmux" {
        bind "Shift Super o" { SwitchToMode "session"; }
    }
    session {
        bind "Shift Super o" { SwitchToMode "normal"; }
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "l" {
            LaunchOrFocusPlugin "zellij:layout-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
        bind "s" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
    }
    shared_except "locked" {
        bind "Shift left" { MoveFocus "left"; }
        bind "Shift right" { MoveFocus "right"; }
        bind "Shift up" { MoveFocus "up"; }
        bind "Shift down" { MoveFocus "down"; }
    }
    shared_except "locked" {
        bind "Alt p" { TogglePaneInGroup; }
        bind "Alt Shift p" { ToggleGroupMarking; }
        bind "Alt l" { NextSwapLayout; }
    }
    shared_except "normal" "locked" "entersearch" {
        bind "enter" { SwitchToMode "normal"; }
    }
    shared_except "normal" "locked" "entersearch" "renametab" "renamepane" {
        bind "esc" { SwitchToMode "normal"; }
    }
    shared_among "pane" "tmux" {
        bind "x" { CloseFocus; SwitchToMode "normal"; }
    }
    shared_among "scroll" "search" {
        bind "left" { PageScrollUp; }
        bind "down" { ScrollDown; }
        bind "up" { ScrollUp; }
        bind "right" { PageScrollDown; }
    }
    entersearch {
        bind "Shift Super h" { SwitchToMode "scroll"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
    }
    shared_among "session" "tmux" {
        bind "d" { Detach; }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins {
    zellij:link
}

session_name "binkies"
attach_to_session true
visual_bell true

// Can't copy without this apparently?
copy_on_select true

// Need mouse mode to click inside things like helix,
// but means that the selection rules differ than what kitty has :(
mouse_mode true
advanced_mouse_actions false 
mouse_hover_effects false
focus_follows_mouse true
mouse_click_through true
 
theme "rose-pine-dawn"
themes {
  rose-pine-dawn {
    text_unselected {
      base 87 82 121
      background 244 237 232
      emphasis_0 215 130 126
      emphasis_1 86 148 159
      emphasis_2 40 105 131
      emphasis_3 144 122 169
    }
    text_selected {
      base 87 82 121
      background 223 218 217
      emphasis_0 215 130 126
      emphasis_1 86 148 159
      emphasis_2 40 105 131
      emphasis_3 144 122 169
    }
    ribbon_selected {
      base 244 237 232
      background 40 105 131
      emphasis_0 234 157 52
      emphasis_1 215 130 126
      emphasis_2 144 122 169
      emphasis_3 86 148 159
    }
    ribbon_unselected {
      base 250 244 237
      background 87 82 121
      emphasis_0 234 157 52
      emphasis_1 215 130 126
      emphasis_2 144 122 169
      emphasis_3 86 148 159
    }
    table_title {
      base 40 105 131
      background 0 0 0
      emphasis_0 215 130 126
      emphasis_1 86 148 159
      emphasis_2 40 105 131
      emphasis_3 144 122 169
    }
    table_cell_selected {
      base 87 82 121
      background 223 218 217
      emphasis_0 215 130 126
      emphasis_1 86 148 159
      emphasis_2 40 105 131
      emphasis_3 144 122 169
    }
    table_cell_unselected {
      base 87 82 121
      background 244 237 232
      emphasis_0 215 130 126
      emphasis_1 86 148 159
      emphasis_2 40 105 131
      emphasis_3 144 122 169
    }
    list_selected {
      base 87 82 121
      background 223 218 217
      emphasis_0 215 130 126
      emphasis_1 86 148 159
      emphasis_2 40 105 131
      emphasis_3 144 122 169
    }
    list_unselected {
      base 87 82 121
      background 244 237 232
      emphasis_0 215 130 126
      emphasis_1 86 148 159
      emphasis_2 40 105 131
      emphasis_3 144 122 169
    }
    frame_selected {
      base 215 130 126
      background 0 0 0
      emphasis_0 215 130 126
      emphasis_1 86 148 159
      emphasis_2 144 122 169
      emphasis_3 0 0 0
    }
    frame_highlight {
      base 234 157 52
      background 0 0 0
      emphasis_0 234 157 52
      emphasis_1 234 157 52
      emphasis_2 234 157 52
      emphasis_3 234 157 52
    }
    exit_code_success {
      base 40 105 131
      background 0 0 0
      emphasis_0 86 148 159
      emphasis_1 244 237 232
      emphasis_2 144 122 169
      emphasis_3 40 105 131
    }
    exit_code_error {
      base 180 99 122
      background 0 0 0
      emphasis_0 234 157 52
      emphasis_1 0 0 0
      emphasis_2 0 0 0
      emphasis_3 0 0 0
    }
    multiplayer_user_colors {
      player_1 144 122 169
      player_2 40 105 131
      player_3 215 130 126
      player_4 234 157 52
      player_5 86 148 159
      player_6 180 99 122
      player_7 0 0 0
      player_8 0 0 0
      player_9 0 0 0
      player_10 0 0 0
    }
  }
}
